

.p1 {
    background-color: #45e284;
    width: 80%;
}

.p2 {
    background-color: #bdd232;
    width: 60%;
}

.p3 {
    background-color: #697bef;
    width: 40%;
}

.p4 {
    background-color: #d62c2c;
    width: 20%;
}